.header {
    background-color: $background-color;
    &-logo {
        @include min-media("xxl") {
            margin-right: 2rem;
        }
        @include media("xxl") {
            margin-bottom: .5rem;
        }
    }
    &-nav {
        width: 100%;
        padding: 1.25rem 1.5rem;
        @include media("xxl") {
            flex-wrap: wrap;
            @include flexCenter();
        }
        @include media("lg") {
            justify-content: space-between;
        }
        @include media("sm") {
            padding: 1rem 0;
        }
    }
    @include media("lg") {
        .navbar-toggler {
            padding-right: 0;
        }
    }
    #nav {
        .navbar-nav {
            margin: 0 0 0 auto;
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            align-items: center;
            @include media("xxl") {
                margin: 0 auto;
            }
            @include media("lg") {
                text-align: center;
            }
        }
        .nav-item {
            @include media("md") {
                width: 100%;
            }
            .dropdown-hover {
                position: relative;
                &-menu {
                    position: absolute;
                    display: none;
                    z-index: 1000;
                    margin-left: 1rem;
                    padding-top: .5rem;
                    @include media("lg") {
                        margin-left: 0;
                        margin-bottom: .5rem;
                    }
                    & > div {
                        padding: 1.5rem 1.75rem;
                        background-color: #f5f5f5;
                        &::before {
                            content: "";
                            background-image: url("../img/dropdown-triangle.png");
                            background-repeat: no-repeat;
                            background-position: center center;
                            width: 21px;
                            height: 11px;
                            position: absolute;
                            display: block;
                            top: -11px;
                            left: 10px;
                            @include media("lg") {
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                    }
                    @include media("lg") {
                        position: unset;
                        text-align: center;
                    }
                }    
                &-item {
                    color: $primary-color;
                    transition-duration: 0.15s;
                    font-size: 15px;
                    letter-spacing: 0.025rem;
                    font-weight: 600;
                    &:hover {
                        color: $highlight-color;
                        text-decoration: none;
                    }
                    @include media("lg") {
                        line-height: 32px;
                    }
                }     
            }
            .nav-link {
                color: $primary-color;
                font-size: 15px;
                font-weight: 800;
                text-transform: uppercase;
                padding: 0.5rem 1rem;
                text-decoration: none;
                letter-spacing: 0.0125rem;
                @include media("lg") {
                    margin-right: 0;
                    padding: 0.4rem 0;
                }
            }
            &.active .nav-link, .nav-link:hover {
                color: $highlight-color;
            }
            &.header__button {
                display: none;
                a {
                    width: 100%;
                }
                @include media("xxl") {
                    display: block;
                }
            }
            &.header__contact {
                display: none;
                @include media("lg") {
                    display: flex;
                }
            }
        }
        @include media("xxl") {
            padding-left: 0rem;
            padding: 0.75rem 0;
            width: 100%;
            justify-content: center;
        }
        @include media("lg") {
            padding: 1.25rem 0;
        }
    }
    &-contact {
        display: flex;
        align-items: center;
        margin-left: 4rem;
        &-tel {
            color: $primary-color;
            font-size: 16px;
            font-weight: 700;
            display: block;
            text-align: left;
            line-height: 26px;
            background-image: url("../img/icon-tel-red.png");
            background-repeat: no-repeat;
            background-position: left center;
            padding-left: 1.5rem;
            transition-duration: 0.15s;
            &:hover {
                text-decoration: none;
            }
        }
        @include media("xxl") {
            margin-left: 1.5rem;
        }
    }
    &-buttons {
        display: flex;
        align-items: center;
        white-space: nowrap;
        margin-left: 4rem;
        @include media("xxl") {
            margin-left: 0;
        }
        @include media("lg") {
            margin-top: 1.5rem;
            & > div {
                justify-content: center;
            }
        }
        @include media("sm") {
            margin-top: 0.75rem;
        }
        &-item {
            transition-duration: 0.1s;
            &:not(:last-child) {
                margin-right: 0.75rem;
            }
        }
    }
    &-languages {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            li {
                a {
                    height: 36px;
                    width: 36px;
                    @include flexCenter();
                    border-radius: 50%;
                    text-transform: uppercase;
                    font-size: 13px;
                    color: $primary-color;
                    font-weight: 800;
                    transition-duration: 0.15s;
                    &:hover, &.active {
                        text-decoration: none;
                        background-color: $background-color-dark;
                        color: $secondary-color;
                    }
                }
                &:not(:last-child) a {
                    margin-right: 0.125rem;
                }
            }
        }
    }
}