.news {
    background-image: url("../img/bg-news.png");
    background-repeat: no-repeat;
    background-size: cover;
    .section-content {
        @include media("lg") {
            margin: 0;
        }
    }
    &-box {
        padding: 1.5rem;
        background-color: $secondary-color;
        filter: drop-shadow(-0.776px -2.898px 36.5px rgba(0,0,0,0.05));
        height: 100%;
        @include media("md") {
            margin-bottom: 1.5rem;
            height: auto;
        }
        &-date {
            position: absolute;
            bottom: -15px;
            left: 1.5rem;
            background-color: $highlight-color;
            color: $secondary-color;
            padding: .33rem .8rem;
            font-size: 13px;
            font-weight: 600;
            @include media("md") {
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &-img {
            width: 100%;
            object-fit: cover;
            height: 235px;
            @include media("sm") {
                max-height: 220px;
            }
        }
        &-title {
            margin-top: 0 !important;
            color: $primary-color;
            font-size: 19px;
            display: block;
            font-weight: 700;
            margin-bottom: .5rem !important;
            transition-duration: 0.1s;
            &:hover {
                color: $highlight-color;
                text-decoration: none;
            }
        }
        &-desc {
            color: $paragraph-color;
            font-size: 15px;
            line-height: 26px;
            font-weight: 500;
            letter-spacing: 0.025rem;
            margin-bottom: 0;
            display: inline-block;
            &-more {
                margin-left: .3rem;
                color: $primary-color;
                font-weight: 600;
                display: inline-block;
                transition-duration: 0.15s;
                &:hover {
                    text-decoration: none !important;
                    filter: brightness(0);
                }
            }
        }
    }
    &-body {
        padding: 2.5rem 1.5rem 2rem;
        @include media("sm") {
            max-width: 100%;
        }
    }
    @include media("md") {
        text-align: center;
    }
}